{
  "extends": "eslint-config-airbnb",
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "env": {
    "browser": true
  },
  "globals": {
    "loadCSS": true,
    "loadJSDeferred": true
  }
}
